body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f0f0f0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

/* Progress */
.progress {
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Question */
.question {
  margin-bottom: 20px;
}

/* Options */
.options button {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border: none;
  border-radius: 8px;
  background: #8bc34a;
  color: white;
  cursor: pointer;
}

/* Correct/Wrong */
.correct {
  background: green !important;
}

.wrong {
  background: red !important;
}

/* Submit */
.submit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
}

/* Result */
.result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}
.progress {
  height: 8px;
  background: #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  border-radius: 10px;
}